html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Qwitcher Grypen', cursive;
  position: relative;
}

$spacer: 20px;
$spacer-double: 40px;
$picture-radius: 10px;
